/*reset*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: black;
}

/*nav*/

.menufixed {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
}
nav {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.nav {
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.nav li {
    position: relative;
    float: left;
    color: #FFF;
    list-style: none;
    background: #E77C40;
}
.nav li a {
    display: block;
    padding: 15px 30px;
    color: #FFF;
    text-decoration: none;
}
.nav li:hover {
    background: #E9905E;
}
.nav li ul {
    background-color: rgba(231, 124, 64, 1);
    display: none;
    position: absolute;
    top: 100%;
}
.nav li:hover ul {
    display: block;
    right: 0;
    left: 0;
    top: 100%;
}
.toggle {
    display: none;
}
.arrow-bottom {
    position: absolute;
    top: 25px;
    right: 13px;
    margin-left: 5px;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    width: 1px;
    height: 1px;
}
@media (max-width: 640px) {
    .nav {
        display: none;
    }
    .toggle {
        display: inline-block;
        background: #D8540A;
        padding: 10px 15px;
        color: #FFF;
    }
    .nav li {
        float: none;
    }
    .nav li a {
        padding: 10px 15px;
    }
    .nav li:hover ul {
        position: relative;
        display: block;
        background: transparent;
    }
    .nav li:hover ul li {
        background: transparent;
    }
    .nav li:hover ul li a {
        padding-left: 30px;
    }
    .arrow-bottom {
        top: 20px;
    }
}

/*nav end*/

.intro,.cover,.class,.sign,.staff,.sponsor{
    padding-left: 10%;
    padding-right: 10%;
}
@media (max-width:1000px){
    .intro,.cover,.class,.sign,.staff,.sponsor{
        padding-left: 2%;
        padding-right: 2%;
    }
}
.header{
    padding-bottom: 50px;
}

.intro {
    padding-bottom:50px;
}
.cover {
    text-align: center;
    margin-left: 25%;
    width: 50%;
    height: 10%;
    background-color: #E77C40;
}
.story {
    padding-left: 20%;
    padding-right: 20%;
}
.class {
    padding-bottom:50px;
}
.sign {
    padding-bottom:50px;
}
.sign a{
    color: white;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    background:#897f35;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.sign a:hover{
    background: #744c24;
}
.Lft{
    display: inline-block;
}
.staff {
    padding-bottom:50px;
}
.Staff {
    margin-left: 20%;
    margin-right: 20%;
}
.sponsor {
    padding-bottom:50px;
}
.footer {
    padding-top: 1px;
    background-color: darkgrey;
}
.Red-sponsor {
    margin: auto;
    width: 10em;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #c93f3f;
}
.pass{
    height: 5%;
    background-color: #bc9567;
    margin-left: 10%;
    margin-right: 10%;
}

/*text*/

.header,
.intro,
.sign,
.sponsor,
.class,
.story,
.footer{
    text-align: center;
}
.staff,
.Lft {
    text-align: left;
}
.Red-sponsor h1 {
    color: white;
    margin-top: 1px;
    margin-bottom: 20px;
}
.intro,
.class,
.sign,
.sponsor,
.staff p {
    color: white;
}

.footer p {
    color: black;
}
.Staff p {
    color: #009dff;
}

h1{
    color: darkkhaki;
}

h3{
    color: darksalmon;
}

/*Table*/
.class table,th,td{
    border: 1px solid;
}
.class table{
    margin-left: 5%;
    margin-right: 5%;
}
.class td{
    width: 5%;
}
.sponsor table{
    width: 80%;
}
.sponsor img{
    width: 40%;
}

/*img*/
.sponsor img{
    vertical-align: text-top;
    width: 25%;
}
.header img{
    width: 75%;
    vertical-align: middle;
}